Repository Alexis-D/sanremo: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, fmt, lock

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: lint
    name: rye lint --fix
    entry: rye lint --fix
    language: system
    types: [python]
  - id: fmt
    name: rye fmt
    entry: rye fmt
    language: system
    types: [python]
  - id: lock
    name: rye lock
    entry: rye lock
    language: system
    pass_filenames: false
    files: ^pyproject.toml$

typo
  .github/actions/setup/action.yml
Due: none

nit
  README.md
Due: none

copy/paste
  .github/workflows/ci.yml
Due: none

test across py versions
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

yaml...
  .github/workflows/ci.yml
Due: none

fixes
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  pyproject.toml
Due: lock

more fixes
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

infer python version
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

do not pin unless it is required
  .github/actions/setup/action.yml
Due: none

bust cache to check logs
  .github/actions/setup/action.yml
Due: none

Revert "bust cache to check logs"
  .github/actions/setup/action.yml
Due: none

Add a Dockerfile (CI was not setup)
  Dockerfile
  README.md
Due: none

overengineered tests because why not
  src/sanremo/__init__.py
  tests/test_sanremo.py
Due: lint, fmt

more toying with test setup
  pyproject.toml
  requirements-dev.lock
  tests/test_sanremo.py
Due: lint, fmt, lock

frozen dataclass (~namedtuple)
  src/sanremo/__init__.py
Due: lint, fmt

move things around
  src/sanremo/__init__.py
  src/sanremo/internal.py
  tests/test_sanremo.py
Due: lint, fmt

move tests around
  tests/__init__.py
  tests/test_internal.py
Due: lint, fmt

switch to @patch
  src/sanremo/internal.py
  tests/test_internal.py
Due: lint, fmt

bump setup-rye to v4
  .github/actions/setup/action.yml
Due: none

refactor
  src/sanremo/__init__.py
  src/sanremo/internal.py
  tests/test_internal.py
Due: lint, fmt

test python 3.13
  .github/workflows/ci.yml
Due: none

try out uv
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .python-version
  Dockerfile
  README.md
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  uv.lock
Due: lock

more tweaks
  .github/actions/setup/action.yml
  Dockerfile
  pyproject.toml
  uv.lock
Due: lock

cache+fix
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
Due: none

smaller image, no need for uv
  Dockerfile
Due: none

remove ruff dev dep
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: lock

succint mocks, pytest fixtures
  tests/test_internal.py
Due: lint, fmt

autostage ruff fixes
  .pre-commit-config.yaml
Due: none

bug
  src/sanremo/internal.py
Due: lint, fmt
